:root {
    --about-logo: #f98d11;
    --about-background: #faf7f1;
    --about-menu: #fcb275;
    --about-color: #321500;
}

body.about .menu-logo rect {
    stroke: var(--about-logo);
}

body.about .menu-logo polygon {
    stroke: var(--about-logo);
    fill: var(--about-logo);
}

body.about {
    background-color: var(--about-background);
    color: var(--about-color); /* This will apply the color to the text */
}


body.about .menu-dropdown-content {
    background-color: var(--about-menu);
}

body.about .logo-shadow {
    fill: var(--about-menu);
}