:root {
    --home-logo: rgb(38, 146, 255);
    --home-background: #edf7fa;
    --home-menu: #82eaf8;
}

body.home .menu-logo rect {
    stroke: var(--home-logo);
}

body.home .menu-logo polygon {
    stroke: var(--home-logo);
    fill: var(--home-logo);
}

body.home {
    background-color: var(--home-background);
}

body.home .menu-dropdown-content {
    background-color: var(--home-menu);
}

body.home .logo-shadow {
    fill: var(--home-menu);
}

.header {
    background: rgb(38, 146, 255);
    color: #333;
    padding: 2em;
    text-align: center;
}

.introduction {
    padding: 2em;
    text-align: center;
}

.skills {
    padding: 2em;
}

.skills ul {
    list-style-type: none;
    padding: 0;
}

.footer {
    background: rgb(38, 146, 255);
    color: #fff;
    padding: 1em;
    text-align: center;
}
