body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #dedede;
    color: #472420;
    line-height: 1.6;
}

a,
a.one:link,
a.one:visited {
    color: #E9987A;
    text-decoration: none;
    transition: color 0.3s;
}

a.one:hover,
a:hover {
    color: #E7CEBA;
}

.nav {
    background-color: #CB373D;
    text-align: center;
    padding: 10px 0;
}

.nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav li {
    font-size: larger;
    display: inline-block;
    padding: 10px 20px;
}

.header,
.skills,
.projects {
    text-align: center;
    padding: 2em;
}

.header img,
.project img {
    width: 200px;
    height: auto;
    margin: 1em;
}

.skills ul,
.projects ul {
    list-style-type: none;
    padding: 0;
}

.project {
    margin-bottom: 20px;
}

.footer {
    position: relative;
    background-color: #A9345E;
    text-align: right;
    padding: 20px;
    margin-top: 20px;
}

p {
    margin: 10px 0;
}

/* Responsive design */

@media screen and (max-width: 768px) {
    .nav li {
        box-sizing: border-box;
        width: 100%;
        padding: 15px;
        text-align: center;
        display: block;
    }
}