:root {
    --home-logo: rgb(38, 146, 255);
    --home-background: #e5f0f3;

    --projects-logo: rgb(37, 255, 85);
    --projects-background: #e9f5e4;

    --about-logo: rgb(255, 119, 56);
    --about-background: #fff9ee;
}

/* Apply the home color set */
body.home .menu-logo rect {
    stroke: var(--home-logo);
}

body.home .menu-logo polygon {
    stroke: var(--home-logo);
    fill: var(--home-logo);
}

body.home {
    background-color: var(--home-background);
}

/* Apply the projects color set */
body.projects .menu-logo rect {
    stroke: var(--projects-logo);
}

body.projects .menu-logo polygon {
    stroke: var(--projects-logo);
    fill: var(--projects-logo);
}

body.projects {
    background-color: var(--projects-background);
}

/* Apply the about color set */
body.about .menu-logo rect {
    stroke: var(--about-logo);
}

body.about .menu-logo polygon {
    stroke: var(--about-logo);
    fill: var(--about-logo);
}

body.about {
    background-color: var(--about-background);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    color: #202835;
    line-height: 1.6;
}

/* Drop-down links */
a,
a.one:link,
a.one:visited {
    color: #111848;
    text-decoration: none;
}

.nav {
    padding: 2em 0;
}

.nav-content {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 1em;
    margin: 0;
}

.nav li {
    font-size: larger;
    display: inline-block;
    padding: 10px 20px;
    position: relative;
}

.menu-logo {
    width: 3em;
}

.menu-button {
    font-size: larger;
    padding: 10px 20px;
    cursor: pointer;
}

.menu-dropdown-content {
    display: none;
    position: absolute;
    background-color: #8cf2ff;
    padding: 12px 16px;
    z-index: 1;
    color: black;
}

.header,
.skills,
.projects {
    text-align: center;
}

.header img,
.project img {
    width: 200px;
    height: auto;
    margin: 1em;
}


.skills ul,
.projects ul {
    list-style-type: none;
    padding: 0;
}

.project {
    margin-bottom: 20px;
}

.footer {
    position: relative;
    background-color: #add3e4;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

p {
    margin: 10px 0;
}

/* Responsive design */

@media screen and (max-width: 768px) {
    .nav li {
        box-sizing: border-box;
        width: 100%;
        padding: 15px;
        text-align: center;
        display: block;
    }
}