body {
    font-family: Arial, sans-serif;
    margin: 0 10%;
}

a.one:link {
    color: #E9987A
}

a.one:visited {
    color: #E7CEBA;
}

.nav {
    background-color: #CB373D;
    text-align: center;
}

.nav li {
    font-size: larger;
    display: inline-block;
    padding: 20px;
}

h1 {
    text-align: center;
}

p {
    color: #F2EDDB;
}

img {
    width: 200px;
    height: auto;
    margin: 1em;
}